div(class="row")
    div(class="col-md-2")
        select(ng-model="lesson", class="lesson-selector col-md-12", ng-options="l as l.id for l in lessons")
    div(class="col-md-4")
        lessoncreator(add="addLesson(lessonId)")