div
    form(ng-submit="addLesson()")
        div(ng-show="!isFormVisible", ng-click="isFormVisible = true", class="btn btn-default btn-sm")
            span(class="glyphicon glyphicon-plus")
        div(ng-show="isFormVisible")
            input(ng-model="lessonId", ng-required="true")
            button(type="submit", class="btn btn-default btn-sm")
                span(class="glyphicon glyphicon-ok")
            div(class="btn btn-default btn-sm")
                span(ng-click="abort()", class="glyphicon glyphicon-remove")